/* minimal reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  text-align: center;
  background-color: #232323;
  color: #f0f0f0;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
}

#money {
  top: 25%;
  height: 50%;
  line-height: 50%;
  position: absolute;
  font-weight: bold;
  color: #24b681;
  font-size: 90px;
  width: 100%;
}

#timer {
  top: 10%;
  font-size: 20px;
  width: 100%;
  position: absolute;
  display: none;
}

#settingsIcon {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span, span:before, span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }

  &.active {
    span {
      background-color: transparent;
    }
    span:before, span:after {
      top: 0;
    }
    span:before {
      transform: rotate(45deg);
    }
    span:after {
      transform: rotate(-45deg);
    }
  }
}

#settings {
  display: none;
  background-color: #232323;
  font-size: 1.5em;
  line-height: 2.0em;
  position: absolute;
  border: #24b681 0.5em solid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.active {
    display: block;
    padding-top: 30%;
  }
}

input {
  color: #f0f0f0;
  background-color: #343434;
  border: 0;
  border-bottom: 0.05em #f0f0f0 solid;
  font-size: 1.2em;
  width: 2.4em;
  text-align: center;
  &[type=button] {
    border: 0.05em #f0f0f0 solid;
    padding:  0.1em;
  }
}

.currency {
  cursor: pointer;
}

.money {
  display: block;
  font-size: 20vw;
  line-height: 50vh;
  .money--hugevalue {
    font-size:15vw;
  }
}